body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: black;
}

h1 {
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.recipe-img {
  display: block;
  margin: 0 auto;
  max-width: 400px;
  height: auto;
}

.review-container {
  margin-top: 20px;
}

.review {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.overall-rating {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  table-layout: fixed;
  display: table;
  width: 97.5%;
}

.overall-rating span {
  display: table-cell;
  text-align: center;
}

.review-author {
  font-weight: bold;
}

.review-date {
  font-style: italic;
  margin-bottom: 10px;
}

.review-description {
  margin-bottom: 10px;
}

.review-rating {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.review-rating-label {
  margin-right: 10px;
}

.review-rating-stars {
  display: flex;
  align-items: center;
}

.review-rating-star {
  color: #ffd700;
  font-size: 20px;
  margin-right: 5px;
}

.recipe-recommendations {
  border: 2px solid #ccc;
  padding: 10px;
  margin: 20px 0;
}

.recipe-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.recipe-list li {
  width: 30%;
  text-align: center;
}

.recipe-list img {
  width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}
